@use 'reset' as *;
@use 'variables/global' as *;
@use 'themes/light' as *;
@use 'themes/dark' as *;

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
