.wrapper {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color-inverted);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;

  .links {
    display: flex;
    gap: 20px;
  }
}
